{% extends "layout.html.j2" %}
{% set scriptEntry = "/protected/js/main.js" %}
{% set cssEntry = "/protected/css/main.css" %}
{% set title = "Home" %}
{% block body %}
    {{ form.csrf_token }}
    <input id="user_id" type="hidden" value="{{user_id}}"/>
    <div id="view"></div>
{% endblock %}