<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            FastCard - {{ title }}
        </title>
        {% if scriptEntry %}
            <script src="{{ scriptEntry }}" type="text/javascript"></script>
        {% endif %}

        {% if cssEntry %}
            <link href="{{cssEntry}}" rel="stylesheet"/>
        {% endif %}

        {% if cssEntry2 %}
            <link href="{{cssEntry2}}" rel="stylesheet"/>
        {% endif %}
    </head>
    <body>
        {% if success %}
            <div id="success">{{ ', '.join(success) }}</div>
        {% endif %}
        {% if errors %}
            <div id="errors">
                {% for error in errors %}
                    <div class="error">{{ ', '.join(error) }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% if info %}
            <div id="info">{{ ', '.join(info) }}</div>
        {% endif %}
        {% if credentials and credentials.username %}
            <div>Username: {{ credentials.username }}</div>
            <form method="post" accept-charset="UTF-8" action="/sign-out">
                {{ form.csrf_token }}
                <input id="sign-out" type="submit" value="Sign out">
            </form>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>