body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: blue;
    border: 5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

.card-transition {
    transition: left 0.3s, top 0.3s;
}

#view {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: green;
}

#view-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

#view-pane {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

button {
    position: fixed;
}

.locked {
    border: 5px solid white
}

.unlocked {
    border: 5px solid transparent
}