html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.card {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: blue;
    border: 5px solid #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

.card-transition {
    transition: left 0.3s, top 0.3s;
}

#view {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

#view-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

#view-pane {
    width: 100%;
    height: 100%;
}

#view-hit-canvas {
    width: 100%;
    height: 100%;
}

.view-container {
    height: 1px;
    width: 1px;
}

.button {
    position: fixed;
}

.locked {
    border: 5px solid white
}

.unlocked {
    border: 5px solid transparent
}

.error {
    pointer-events: none;
    background-color: #444444;
    opacity: 0.5;
}

button {
    background-color: black;
    box-shadow: none;
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    padding: 10px;
}

.toaster-center {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.toaster-center-inner {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: darkblue;
}

.hidden {
    display: none;
}

.message {
    width: 1000px;
}